/*General tags*/
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

/*General tags*/

/*General clases*/
.webstudio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.section-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.value-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*General clases*/

/*Header*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.02em;
  position: relative;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.nav-studio {
  color: #404bbf;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  color: #404bbf;
}

.nav-studio::after {
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

nav a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.addr-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.addr {
  font-style: normal;
}

.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  text-decoration: none;
  color: #434455;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
/*Header*/

/*Section1 hero*/
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-text {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
}

.button-order-service {
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.button-order-service:hover,
.button-order-service:focus {
  background-color: #404bbf;
}
/*Section1 hero*/

/*Section2 Features*/
.feature-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}
.icon-feature-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.icon-feature {
  margin: 24px 100px;
}
/*Section2 Features*/

/*Section3 Employes*/
.sect-employes {
  background-color: #f4f4fd;
}

.empl-box {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 32px 0;
}

.empl-section {
  background-color: #f4f4fd;
}

.empl-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.empl-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  overflow: hidden;
}

.empl-name {
  text-align: center;
}

.empl-descr {
  text-align: center;
  margin-bottom: 8px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.social-link-box {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}
/*Section3 Employes*/

/*Section4 Portfolio*/
.portf-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portf-item {
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.portf-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  background-color: #fff;
}

.portf-img-container {
  position: relative;
  overflow: hidden;
}

.portf-overlay {
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.portf-item:hover .portf-overlay {
  transform: translateY(0);
}
.portf-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/*Section4 Portfolio*/

/*Footer*/
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer span {
  color: #f4f4fd;
}

.footer-descr {
  color: #f4f4fd;
  max-width: 264px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.sm-descr-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-media-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-descr-container {
  margin-right: 120px;
}

.sm-footer-box {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

/*footer*/

/*Modal window*/

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
opacity: 0;
}

.is-active {
pointer-events: all;
opacity: 1;
}

.modal-form {
  background-color: #fcfcfc;
  padding: 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 408px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close-form-btn {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-self: flex-end;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.close-form-btn .icon{
fill: #2e2f42;
transition-property: fill, border;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 250ms;
}

.close-form-btn:hover, 
.close-form-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-form-btn:hover .icon, 
.close-form-btn:focus .icon {
  fill: #fff;
}

.form-header {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.form-label {
  font-family: inherit
  font-weight: inherit
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 8px;
}

.input-wrap {
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 360px;
display: flex;
justify-content: center;
align-items: center;
padding: 8px 16px;
transition-property: border-color;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 250ms;
}
.modal-form-icon-wrap {
  width: 18px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.modal-form-icon-wrap .icon {
fill: #2e2f42;
transition-property: fill;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 250ms;
}

.form-input {
outline: none;
border: none;
background-color: inherit;
width: 100%;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
}

.form-label:focus-within
.input-wrap {
border-color: #4d5ae5;
}

.form-label:focus-within
.icon {
fill: #4d5ae5;
}


.form-input::placeholder {
color: rgba(46, 47, 66, 0.4);}

.input-comment {
resize: none;
height: 120px;
}

.comment-wrap {
  margin-bottom: 16px;
}

.terms-label {
display: flex;
align-items: center;
}

.terms-label p {
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;
}

.privacy-policy {
line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.terms-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.check-icon-box {
width: 16px;
height: 16px;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
margin-right: 8px;
margin-left: -13px;
pointer-events: none;
display: flex;
justify-content: center;
align-items: center;
transition-property: background-color;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 250ms;
}

.terms-checkbox {
  opacity: 0;
  cursor: pointer;

}

.check-icon {
  fill: none;
  transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

}

.modal-form input[type="checkbox"]:checked + label svg {
  fill: #fff;
}
.modal-form input[type="checkbox"]:checked + label div{
border-radius: 2px;
background-color: #404bbf;
border: none;
}

.send-form-btn {
border-radius: 4px;
padding: 16px 32px;
border: none;
background-color: #4d5ae5;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
display: flex;
justify-content: center;
align-items: center;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
margin: 0 auto;
width: 169px;
cursor: pointer;
  transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.send-form-btn:hover,
.send-form-btn:focus {
background-color: #404bbf;
}
/*Modal window*/
